@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400&display=swap');
.signInFormDesktopChild {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.avatarUiUnicornV2Icon {
    position: absolute;
    height: 100%;
    width: 32.18%;
    top: 0%;
    right: 67.82%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.uiUnicornLogoChild {
    position: absolute;
    height: 30.11%;
    width: 61.38%;
    top: 35.42%;
    right: 0%;
    bottom: 34.48%;
    left: 38.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.uiUnicornLogo {
    position: relative;
    width: 149.17px;
    height: 48px;
}
.dis {
    position: relative;
    letter-spacing: 0.3px;
    line-height: 20px;
    font-weight: 500;
}
.disWrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.tabSwitcherButton28px {
    border-radius: var(--br-7xs);
    background-color: var(--white-ffffff);
    border: 0.5px solid var(--black-100-e5e5e5);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs) var(--padding-base);
}
.tabSwitcherButton28px1 {
    border-radius: 4px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs) var(--padding-base);
    color: var(--black-600-666666);
}
.bgTabSwitcher32px {
    border-radius: var(--br-5xs);
    background-color: var(--black-100-e5e5e5);
    border: 0.5px solid rgba(204, 204, 204, 0.25);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px;
    opacity: 0;
}
.uiUnicornLogoParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.div {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.hint {
    flex: 1;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 12px;
}
.satelliteInput {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-base);
}
.inputBg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: var(--br-7xs);
    background-color: var(--black-50-f2f2f2);
    border: 0.5px solid var(--black-100-e5e5e5);
    box-sizing: border-box;
    overflow: hidden;
}
.rectangle3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: var(--black-900-1a1a1a);
}
.printLine {
    position: relative;
    width: 1px;
    height: 20px;
    display: none;
}
.emailOrPhoneNumberParent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-12xs);
}
.placeholderValue2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.unionIcon2 {
    position: relative;
    width: 6px;
    height: 6px;
    object-fit: cover;
}
.unionWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: var(--br-5xs);
    background-color: var(--color-dimgray-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs);
    box-sizing: border-box;
}
.loginIcons {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.arowIcons16Medium1 {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: none;
}
.inputIcons {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs);
    gap: var(--gap-base);
    opacity: 0;
}
.regularInputDoubleRow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: var(--br-7xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
}
.loginInput {
    align-self: stretch;
    position: relative;
    height: 48px;
    font-size: var(--button-label-size);
    color: var(--black-500-808080);
    font-family: var(--button-label);
}
.linkButtonLabel4 {
    flex: 1;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 12px;
    display: none;
}
.linkButtonLabel5 {
    flex: 1;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 12px;
    text-align: right;
}
.satelliteInput1 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-base);
    color: var(--system-blue-007aff);
}
.satelliteInput2 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-base);
}
.satelliteInput3 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-base);
    color: var(--system-red-ff3b30);
}
.satelliteInput4 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-base);
    color: var(--system-orange-ff9500);
}
.satelliteInput5 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-base);
    color: var(--system-green-26a212);
}
.inputConfigurator1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.inputConfigurator {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.enterPassword {
    position: relative;
    line-height: 20px;
}
.loginIcons1 {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.loginIconsChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.vectorIcon1 {
    position: absolute;
    height: 68.18%;
    width: 100%;
    top: 16.67%;
    right: 0%;
    bottom: 15.15%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.loginIcons2 {
    position: relative;
    width: 16px;
    height: 16px;
}
.inputIcons1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs);
    gap: var(--gap-base);
}
.inputConfiguratorParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}
.default1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 36.5px;
    background-color: var(--black-50-f2f2f2);
    border: 0.5px solid var(--black-100-e5e5e5);
    box-sizing: border-box;
}
.bgSwitcher {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 20px;
}
.knob201 {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    border-radius: 12px;
    background-color: var(--white-ffffff);
    box-shadow: 1px 1px 2px -1px rgba(51, 51, 51, 0.3);
}
.knobIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
}
.switcher {
    position: relative;
    width: 40px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.description2 {
    flex: 1;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 20px;
}
.switcherItemLeft {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}
.description3 {
    flex: 1;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: var(--system-blue-007aff);
    text-align: right;
}
.switcherItemLeftParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--checkbox-size);
    color: var(--black-900-1a1a1a);
}
.frameDiv {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    font-size: var(--hint-placeholder-size);
    color: var(--black-800-333333);
    font-family: var(--checkbox);
}
.parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    text-align: left;
    color: var(--black-900-1a1a1a);
}
.dis2 {
    position: relative;
    letter-spacing: 0.3px;
    line-height: 20px;
}
.primaryButton40px {
    align-self: stretch;
    border-radius: var(--br-7xs);
    background-color: var(--system-blue-007aff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-5xl);
    font-size: var(--button-label-size);
    font-family: var(--button-label);
}
.nav1 {
    align-self: stretch;
    position: relative;
    background-color: var(--black-100-e5e5e5);
    height: 0.5px;
}
.otherPayMethodIcon2 {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.otherPayMethodParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xs);
}
.googleBigButton40px {
    flex: 1;
    border-radius: var(--br-7xs);
    background-color: var(--black-800-333333);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-base);
}
.facebookSmallButton40px {
    flex: 1;
    border-radius: var(--br-7xs);
    background-color: var(--black-800-333333);
    height: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px var(--padding-5xl);
    box-sizing: border-box;
}
.googleBigButton40pxParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--checkbox-size);
    font-family: var(--checkbox);
}
.signInFormWeb {
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.description5 {
    position: relative;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: var(--system-blue-007aff);
    text-align: right;
}
.signUpOffer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    text-align: left;
    font-size: var(--checkbox-size);
    color: var(--black-900-1a1a1a);
    font-family: var(--checkbox);
}
.signInForms {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    font-size: var(--title-size);
    color: var(--white-ffffff);
    font-family: var(--title);
}
.frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}
.figmaIcon1 {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.head {
    position: relative;
    letter-spacing: -0.4px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
}
.figmaParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.head1 {
    position: relative;
    letter-spacing: -0.4px;
    line-height: 16px;
    color: var(--black-600-666666);
}
.bottomPanel {
    align-self: stretch;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: var(--system-blue-007aff);
}
.frameParent {
    align-self: stretch;
    background-color: var(--white-ffffff);
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 48px;
    box-sizing: border-box;
}
.signInFormDesktop {
    position: absolute;
    height: calc(100% + 0.5px);
    width: 100%;
    top: -0.25px;
    right: 0px;
    bottom: -0.25px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.alexandrPopadin1 {
    text-decoration: underline;
}
.alexandrPopadin {
    color: inherit;
}
.photoByAlexandrContainer {
    position: absolute;
    bottom: 48px;
    left: 48px;
    letter-spacing: -0.4px;
    line-height: 16px;
    color: var(--white-ffffff);
    text-align: left;
}
.signInFormDesktopLayout14 {
    position: relative;
    border-radius: 24px;
    background-color: var(--white-ffffff);
    width: 100%;
    height: 900px;
    overflow: hidden;
    text-align: center;
    font-size: var(--checkbox-size);
    color: var(--black-000000);
    font-family: var(--button-label);
}

