@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.myBody {
  	margin: 0; line-height: normal;
}
.torusIcon {
    position: absolute;
    top: 470px;
    left: 268px;
    width: 166px;
    height: 166px;
    object-fit: cover;
}
.welcome {
    position: relative;
    font-weight: 600;
}
.welcomeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 32px;
    font-size: 24px;
}
.icon1 {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.placeholder {
    position: relative;
}
.icontext {
    position: absolute;
    top: calc(50% - 12px);
    left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.inputContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}
.jntInput {
    align-self: stretch;
    position: relative;
    height: 40px;
}
.viewIcon1 {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.forgotPassword {
    position: relative;
    color: #6f74dd;
}
.jntStack {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 16px;
    color: #828282;
}
.content {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 11px 0px;
    box-sizing: border-box;
}
.button {
    align-self: stretch;
    border-radius: 40px;
    background-color: #3949ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 96px;
}
.jntButton {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.jntButtonWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frameChild {
    flex: 1;
    position: relative;
    background-color: #e6e9fa;
    height: 1px;
}
.rectangleParent {
    width: 215px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: left;
    color: #828282;
}
.googleIcon1 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.content1 {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 11px 0px;
    box-sizing: border-box;
    gap: 8px;
}
.button2 {
    align-self: stretch;
    border-radius: 40px;
    border: 1px solid #3949ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
}
.buttonParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #3949ab;
}
.frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.button5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #3949ab;
}
.haveNoAccountYetParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: left;
    color: #828282;
}
.frameParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.buttonsStack {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttonsStackWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.form2 {
    position: absolute;
    top: 0px;
    left: 732px;
    border-radius: 0px 24px 24px 0px;
    background-color: #fff;
    backdrop-filter: blur(24px);
    width: 486px;
    height: 743px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 64px;
    box-sizing: border-box;
    gap: 32px;
}
.formChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(57, 73, 171, 0.5);
    backdrop-filter: blur(20px);
    width: 732px;
    height: 743px;
}
.specpIcon {
    position: absolute;
    height: 100%;
    width: 24.62%;
    top: 0%;
    right: 75.38%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.specIcon1 {
    position: absolute;
    height: 46.07%;
    width: 34.39%;
    top: 0.09%;
    right: 65.46%;
    bottom: 53.84%;
    left: 0.14%;
    border-radius: 19.16px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.projectorIcon {
    position: absolute;
    height: 38.39%;
    width: 99.86%;
    top: 61.52%;
    right: 0.14%;
    bottom: 0.09%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: normal;
}
.tittle {
    position: absolute;
    height: 81.39%;
    width: 69.33%;
    top: 9.38%;
    right: 0%;
    bottom: 9.23%;
    left: 30.67%;
}
.speclogoNew {
    position: absolute;
    top: calc(50% - 303.5px);
    left: 68px;
    width: 200px;
    height: 49px;
}
.formItem {
    position: absolute;
    top: 190px;
    left: 262px;
    border-radius: 50%;
    background-color: #00227b;
    width: 221px;
    height: 221px;
    opacity: 0.6;
}
.groupIcon7 {
    position: absolute;
    height: 40.05%;
    width: 50.12%;
    top: 46.34%;
    right: 20.74%;
    bottom: 13.61%;
    left: 29.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon8 {
    position: absolute;
    height: 42.67%;
    width: 53.16%;
    top: 45.03%;
    right: 19.21%;
    bottom: 12.3%;
    left: 27.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon9 {
    position: absolute;
    height: 28.33%;
    width: 22.57%;
    top: 44.14%;
    right: 11.74%;
    bottom: 27.53%;
    left: 65.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon10 {
    position: absolute;
    height: 29.71%;
    width: 24.15%;
    top: 43.46%;
    right: 10.95%;
    bottom: 26.83%;
    left: 64.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon11 {
    position: absolute;
    height: 25.15%;
    width: 43.74%;
    top: 39.99%;
    right: 55.48%;
    bottom: 34.86%;
    left: 0.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon12 {
    position: absolute;
    height: 19.05%;
    width: 41.19%;
    top: 46.09%;
    right: 58.03%;
    bottom: 34.86%;
    left: 0.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon13 {
    position: absolute;
    height: 26.51%;
    width: 45.31%;
    top: 39.31%;
    right: 54.69%;
    bottom: 34.18%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon14 {
    position: absolute;
    height: 5.84%;
    width: 2.51%;
    top: 43.02%;
    right: 85.11%;
    bottom: 51.15%;
    left: 12.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon15 {
    position: absolute;
    height: 16.77%;
    width: 6.05%;
    top: 48.36%;
    right: 73.37%;
    bottom: 34.86%;
    left: 20.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon16 {
    position: absolute;
    height: 0.1%;
    width: 0.39%;
    top: 95.15%;
    right: 8.75%;
    bottom: 4.76%;
    left: 90.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
}
.groupIcon17 {
    position: absolute;
    height: 48.4%;
    width: 52.2%;
    top: 35.35%;
    right: 19.72%;
    bottom: 16.25%;
    left: 28.08%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon18 {
    position: absolute;
    height: 98.58%;
    width: 14.53%;
    top: 1.42%;
    right: 0%;
    bottom: 0%;
    left: 85.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon19 {
    position: absolute;
    height: 99.95%;
    width: 13.4%;
    top: 0%;
    right: 86.6%;
    bottom: 0.05%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.group17 {
    position: absolute;
    height: 28.3%;
    width: 53.04%;
    top: 55.53%;
    right: 19.46%;
    bottom: 16.17%;
    left: 27.5%;
}
.groupIcon20 {
    position: absolute;
    height: 16.53%;
    width: 51.74%;
    top: 62.71%;
    right: 19.63%;
    bottom: 20.76%;
    left: 28.63%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon21 {
    position: absolute;
    height: 24.32%;
    width: 91.64%;
    top: 74.47%;
    right: 0%;
    bottom: 1.21%;
    left: 8.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon22 {
    position: absolute;
    height: 21%;
    width: 39.84%;
    top: 35.35%;
    right: 26.17%;
    bottom: 43.65%;
    left: 33.99%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
}
.groupIcon23 {
    position: absolute;
    height: 52.94%;
    width: 72.72%;
    top: 0%;
    right: 9.93%;
    bottom: 47.06%;
    left: 17.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon24 {
    position: absolute;
    height: 37.54%;
    width: 67.09%;
    top: 62.46%;
    right: 12.15%;
    bottom: 0%;
    left: 20.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon25 {
    position: absolute;
    height: 16.34%;
    width: 14.57%;
    top: 65.71%;
    right: 11.23%;
    bottom: 17.95%;
    left: 74.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.groupIcon26 {
    position: absolute;
    height: 8.56%;
    width: 14.49%;
    top: 73.48%;
    right: 11.31%;
    bottom: 17.95%;
    left: 74.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
}
.groupIcon27 {
    position: absolute;
    height: 17.7%;
    width: 16.15%;
    top: 65.03%;
    right: 10.44%;
    bottom: 17.27%;
    left: 73.41%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.group16 {
    position: absolute;
    height: 100%;
    width: 97.84%;
    top: 0%;
    right: 2.16%;
    bottom: 0%;
    left: 0%;
}
.groupIcon28 {
    position: absolute;
    height: 7.17%;
    width: 7.02%;
    top: 11.93%;
    right: 0%;
    bottom: 80.89%;
    left: 92.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.group15 {
    position: relative;
    width: 193.45px;
    height: 219px;
}
.art {
    position: absolute;
    top: 143px;
    left: 183px;
    border-radius: 182px;
    width: 367px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 74px;
    box-sizing: border-box;
}
.child {
    position: relative;
    border-radius: 50%;
    background-color: #f3f4fc;
    width: 8px;
    height: 8px;
}
.div {
    border-radius: 30px;
    background-color: #6f74dd;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
}
.div1 {
    border-radius: 30px;
    background-color: #00227b;
    flex-shrink: 0;
}
.div2 {
    border-radius: 30px;
    background-color: #00227b;
    width: 16px;
    height: 16px;
}
.pager {
    position: absolute;
    top: 594px;
    left: 338px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.welcomeAboardMy1 {
    margin: 0;
    font-weight: 600;
}
.justACouple {
    margin: 0;
    font-size: 14px;
}
.welcomeAboardMyContainer {
    position: absolute;
    top: 469px;
    left: 217px;
    line-height: 200%;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.form {
    position: absolute;
    top: 260px;
    left: 351px;
    border-radius: 24px;
    box-shadow: 0px 48px 48px -6px #17328e, 0px 0px 1px #17328e;
    border: 1px solid #e6e9fa;
    box-sizing: border-box;
    width: 1218px;
    height: 743px;
    overflow: hidden;
}
.simpleSignUp1 {
    position: absolute;
    top: 107px;
    left: 553px;
    font-size: 76px;
    font-weight: 600;
    color: #f3f4fc;
}
.dark {
    position: relative;
    background-color: #3949ab;
    width: 100%;
    height: 960px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #343434;
    font-family: 'Open Sans';
}

